# Don't track content of these folders
/.vscode/

# Don't track these files
/Schedules.Panel/Export to Excel.pushbutton/Thumbs.db
nWn Toolbox/Panel.extension/nWn Toolbox .tab/Model.Panel/Number Doors.pushbutton/Thumbs.db
